# Legacy Infrastructure Variables
# Copy this file to terraform.tfvars and fill in real values

resource_group_name = "pm-legacy-rg"
location            = "eastus2"
admin_username      = "pmadmin"
admin_password      = "CHANGE_ME_P@ssw0rd!"
sql_sa_password     = "CHANGE_ME_SqlP@ss!"
allowed_rdp_ip      = "203.0.113.50/32"
vm_size             = "Standard_D2s_v3"
