# Copy this file to terraform.tfvars and fill in the values.
# Do NOT commit terraform.tfvars to source control.

resource_group_name = "rg-property-mgmt-legacy"
location            = "East US"
vm_admin_username   = "pmadmin"
vm_admin_password   = "CHANGE-ME-Str0ng!Pass"
vm_size             = "Standard_B2ms"
dns_label_prefix    = "propmgmt-legacy"
sql_sa_password     = "CHANGE-ME-SqlStr0ng!Pass"
